* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  background-color: red;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 10px;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footerText {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerImage {
  width: 40px;
  height: 40px;
  padding: 5px;
  padding-top: 5px;
}